@import './reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



.App {
  display: flex;
  flex-direction: column;
  background: $color2;
  height: 100vh;
  width: 100vw;

 form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //height: 100px;
  margin: auto;

  h1 {
    margin-bottom: 20px;
    color: $color1;
  }

  input {
    margin-top: 20px;
    width: 80%;
    //padding: 30px 200px;
    
    &[type=submit] {
      width: 30%;
      background-color: $color1;
      color: white;
      padding: 40px 20px;
      margin: 38px 0;
      border: 1px solid white;
      letter-spacing: 2px;
    }

    
  }
  ::placeholder {
    float: left;
    color: $color1;
    font-size: 16px;
  }
 }
}

@media (max-width: 900px) {

  input {
    margin-top: 20px;
    //padding: 30px 200px;
    
    &[type=submit] {
      width: 100%;
     
    }
}
}